/* reset.css */

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

/* 인풋 필드 기본 스타일 제거 */
input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  all: revert; /* 기본 스타일 되돌리기 */
}

/* 포커스 상태에서 스타일 */
input:focus,
textarea:focus,
select:focus {
  outline: none; /* 기본 파란색 아웃라인 제거 */
}

/* 액티브 상태에서 스타일 */
input:active,
textarea:active,
select:active {
  outline: none; /* 기본 아웃라인 제거 */
}

/* 자동완성 아이콘 숨기기 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

/* Safari 자동완성 열쇠 아이콘 제거 */
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}
/* 아이콘 숨기기 */
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none; /* Safari, Chrome */
  appearance: none; /* Firefox */
}
